@model AMS23_Carousel.Models.CategoryModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="text-center">
    <div id="BackColor">


    <partial name="_carousel"/>
    </div>
    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
    {
        <forms>
        Descrição:<input type="text" asp-for="Description"><br>
        Nome:<input type="text" asp-for="Name"><br>
        <input type="submit" value="Adicionar Categoria">
    </forms>


}
</body>
</html>