
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="d-grid grid-gap-2">
        <a class="btn btn-primary" asp-controller="Category" asp-action="Add">Adicionar Categoria</a>
    </div>
    <br>
    <div id="BackColor">
    <forms>
        
    </forms>
</div>
<partial name="_carousel"/>
</div>