<div class="text-center">
<h1>@ViewData["Title"]</h1>
<div id="BackColor">
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nome</label>
    <input type="text" class="form-control" placeholder="Insira Seu Nome">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Contato</label>
    <input type="text" class="form-control" placeholder="Insira seu Contato">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Endereço</label>
    <input type="text" class="form-control" placeholder="Insira Seu Endereço">
  </div>

    <div class="d-grid gap-2">
    <a asp-controller="Order" asp-action="" class="btn btn-primary ">Cadastrar Pedido</a>
    <a asp-controller="Order" asp-action="Index" class="btn btn-primary ">Voltar</a>
    </div>
    <br>
</form>
</div>