
<div class="text-center">
<h1>@ViewData["Title"]</h1>
<div id=BackColor>
<forms>
    ID:<input type="Number" id="Id"><br>
    Description:<input type="text" id="Description"><br>
    ImageURL:<input type="url" name="" id="ImageURL"><br>
    Price:<input type="text" id="Price"><br>
    <input type="button" value="Done">


</forms>
</div>
<partial name="_carousel"/>
</div>
